
@inject SignInManager<IdentityUser> _signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</head>
<body>

    @RenderSection("scripts", false)
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" id="#navbarColor01" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">


                @if(User.Identity.IsAuthenticated)
                {
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="" asp-action="">Hello! @User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Add">Add Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Student" asp-action="List">See Lists of Student</a>
                    </li>



                    @if (User.IsInRole("Administrator"))
                    {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Roles</a>
                            </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="ListRoles">See Roles</a>
                                    </li>
                     }

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li>
                </ul>

                             
                 

                }
                else
                {
                    <a class="navbar-brand" asp-controller="Login" asp-action="Index"> Virtual Academy</a>
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Login" asp-action="Register">
                                                Register
                                                <span class="visually-hidden">(current)</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Login" asp-action="Login">
                                                Login
                                                <span class="visually-hidden">(current)</span>
                                            </a>
                                        </li>
                                    </ul>
                    }
            </div>


        </div>
    </nav>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="p-5 bg-dark position-sticky text-white text-center position-relative">
        <div class="container w-100">
            <p class="lead">Copyright &copy; 2021 Frontend Bootcamp</p>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>





    <!-- Modal -->
    <div class="modal fade"
         id="enroll"
         tabindex="-1"
         aria-labelledby="enrollLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enrollLabel">Enrollment</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Fill out this form and we will get back to you</p>
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="col-form-label">
                                First Name:
                            </label>
                            <input type="text" class="form-control" id="first-name" />
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" />
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="tel" class="form-control" id="phone" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer w-100 fixed-bottom">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
