@model StudentDLL

@{ ViewData["Title"] = "Add Student"; }


<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="container mx-auto mt-5 bg-dark">
            <h1 class="text-center pt-2"> Add Student</h1>
            <form asp-controller="Student" asp-action="Add" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <img src="~/Image/white-grad.png" class="w-25 text-center mb-2 mt-2" />
                        </div>
                    </div>
                </div>
                <div class="container mt-4 border-2">
                    First Name
                    <input type="text" name="firstName"
                           class="form-control" value="@Model.firstName" required />
                    <span class="text-danger" asp-validation-for="firstName"></span>
                    <br />
                    Last Name
                    <input type="text" name="lastName"
                           class="form-control" value="@Model.lastName" required /><br />
                    <span class="text-danger" asp-validation-for="lastName"></span>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success h-75 mb-5 w-100">
                                    Add Student
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
