@{ ViewData["Title"] = "Home Page"; }


<!--Container-->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to <span class="text-warning">Virtual Academy</span></h1>
                <p class="lead my-4 text-white">
                    We believe that providing access to digital
                    resources to students will develop their
                    programming skill set. By subscribing, users
                    can expect a wide variety of programming fundamentals
                    in a wide variety of languages.
                </p>
                <a asp-controller="Login" asp-action="Register" class="btn btn-info">Start the Enrollment</a>
            </div>
            <img src="~/Image/showcase.svg" class="w-50 pb-4 img-fluid d-sm-block d-none" />
        </div>
    </div>
</section>

<!-- Newsletter -->
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h4 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h4>
            <div class="input-group news-input">
                <input type="text" class="form-control" placeholder="Enter Email" />
                <button class="btn-dark" type="button">Submit</button>
            </div>
        </div>
    </div>
</section>

<!--Hedaer-->
<h1 class="text-center mt-5"> Programming Courses</h1>

<!--C#-->
<section class="text-light p-5 p-lg-0 pt-lg-5 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img src="~/Image/firstIcon2.png" class="pb-4 w-25 img-fluid" />
            <div>

                <h2 class="text-warning">C#</h2>

                <p class="lead">
                    C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework. C# is used to develop web apps, desktop apps, mobile apps, and other applications.
                    It was designed by Anders Hejlsberg from Microsoft in 2000 and would later be approved by international standards.
                </p>
                <a class="btn btn-info" href="https://docs.microsoft.com/en-us/dotnet/csharp/">Learn More About C#</a>
            </div>

        </div>
    </div>
</section>


<!--JS-->
<section class="text-light p-5 p-lg-0 pt-lg-5 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img src="~/Image/Js2.png" class="pb-4 w-25 img-fluid" />
            <div>

                <h2 class="text-warning">Javascript</h2>
                <p class="lead">
                    JavaScript, often abbreviated JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS.JavaScript engines were originally used only in web browsers, but are now core components of some servers and a variety of applications. The most popular runtime system for this usage is Node.js.
                </p>
                <a class="btn btn-info" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Learn More About Javascript</a>
            </div>

        </div>
    </div>
</section>


<!--Python-->
<section class="text-light p-5 p-lg-0 pt-lg-5 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <img src="~/Image/Python.png" class="pb-4 w-25 img-fluid" />
            <div>
                <h2 class="text-warning">Python</h2>

                <p class="lead">
                    Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small- and large-scale projects.
                </p>
                <button class="btn btn-info" href="https://docs.python.org/3/">Learn More About Python</button>
            </div>

        </div>
    </div>
</section>

<section id="instructors" class="p-5 bg-primary">
    <div class="container">
        <h2 class="text-center text-white">Our Instructors</h2>
        <p class="lead text-center text-white mb-5">
            Our instructors all have 2+ years working as a web developer in the
            industry
        </p>

        <div class="row mx-auto ml-5">
            <div class="col-md-6 col-lg-3 mx-auto">
                <div class="card bg-light mx-auto">
                    <div class="card-body text-center mx-auto">
                        <img src="~/Image/Miguel.jpg"
                             class="rounded-circle mb-3 w-50"
                             alt="" />
                        <h3 class="card-title mb-3">Miguel Rivadenera</h3>
                        <p class="card-text">
                            Knowledgeable in C++ and C#. As an instructor, Miguel
                            is patient and precise when it comes to his teaching
                            method.
                        </p>
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mx-auto">
                <div class="card bg-light mx-auto">
                    <div class="card-body text-center mx-auto">
                        <img src="~/Image/Carlos.jpg"
                             class="rounded-circle mb-3 w-50"
                             alt="" />
                        <h3 class="card-title mb-3">Carlos Cajoles</h3>
                        <p class="card-text">
                            Calm and soft-spoken. As a teacher, Carlos is
                            knowledgeable when it comes to Java, Javascript, and other
                            development principles.
                        </p>
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mx-auto">
                <div class="card bg-light">
                    <div class="card-body text-center mx-auto">
                        <img src="/Image/Cibak.jpg"
                             class="rounded-circle mb-3 w-50"
                             alt="" />
                        <h3 class="card-title mb-3">Michael Cibak</h3>
                        <p class="card-text">
                            A full stack developer. Michael's teaching method
                            involves is direct and straightforward. He also teaches
                            GitHub fundamentals.

                        </p>
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact & Map -->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Phone:</span> (333) 333-3333
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Email:</span> (555)
                        enroll@frontendbc.test
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Email:</span>
                        student@frontendbc.test
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map">
                    <img src="~/Image/sectionchar.png" class="d-sm-block d-none" />
                </div>
            </div>
        </div>
    </div>
</section>

